<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Blog</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="{{ url_for('static', filename='js/bower_components/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bower_components/jquery-validation/dist/jquery.validate.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/validation.js') }}"></script>
    </head>
    <body>
        <div id="wrapper">
            <div class="page_wrap">
                {% block header %}
                <header class="blog_header clearfix">
                    <h1>Blog</h1>

                    {% if not session.logged_in %}
                    <div class="reg_btn btn_wrap">
                        <a class="btn" href="{{ url_for('registration') }}">Registration</a>
                    </div>
                    <div class="login_btn btn_wrap">
                        <a class="btn" href="{{ url_for('login') }}">Log in</a>
                    </div>
                    {% else %}
                    <div class="login_btn btn_wrap">
                        <a class="btn" href="{{ url_for('logout') }}">Log out</a>
                    </div>
                    {% endif %}
                    <div class="search_btn btn_wrap">
                        <a class="btn" href="{{ url_for('search') }}">Search</a>
                    </div>

                </header>
                {% endblock %}
                {% for message in get_flashed_messages() %}
                <div class="flash">
                    {{ message }}
                </div>
                {% endfor %}
                {% block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>
