{% extends "layout.html" %}

{% block header %}
    <header class="blog_header clearfix">
        <h1>Login</h1>
        <div class="reg_btn btn_wrap">
            <a class="btn" href="{{ url_for('registration') }}">Registration</a>
        </div>
    </header>
{% endblock %}

{% block body %}
    <form action="{{ url_for('login') }}" method="POST" id="login_form">
        <div class="form_wrapper">
            <div class="form_item">
                <div class="input_wrap clearfix">
                    {{ form.login.label(class_="label") }}
                    {{ form.login(size=32, class_="form_input") }}
                </div>
                <ul class="error_message">
                {% for error in form.login.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            </div>
            <div class="form_item">
                <div class="input_wrap clearfix">
                    {{ form.password.label(class_="label") }}
                    {{ form.password(size=32, class_="form_input") }}
                </div>
                <ul class="error_message">
                {% for error in form.password.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            </div>
            <button class="btn send_btn">Log in</button>
        </div>
    </form>
{% endblock %}
