{% extends "layout.html" %}

{% block header %}
    <header class="blog_header clearfix">
        <h1>Registration</h1>

        {% if not session.logged_in %}
        <div class="login_btn btn_wrap">
            <a class="btn" href="{{ url_for('login') }}">Log in</a>
        </div>
        {% else %}
        <div class="login_btn btn_wrap">
            <a class="btn" href="{{ url_for('logout') }}">Log out</a>
        </div>
        {% endif %}
    </header>
{% endblock %}

{% block body %}
    <form action="{{ url_for('registration') }}" method="POST" id="reg_form">
        <div class="form_wrapper">
            <div class="form_item">
                <div class="input_wrap clearfix">
                    {{ form.email.label(class_="label") }}
                    {{ form.email(size=32, class_="form_input") }}
                </div>
                <ul class="error_message">
                {% for error in form.email.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            </div>
            <div class="form_item">
                <div class="input_wrap clearfix">
                    {{ form.password.label(class_="label") }}
                    {{ form.password(size=32, class_="form_input") }}
                </div>
                <ul class="error_message">
                {% for error in form.password.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            </div>
            <div class="form_item">
                <div class="input_wrap clearfix">
                    {{ form.first_name.label(class_="label") }}
                    {{ form.first_name(size=32, class_="form_input") }}
                </div>
                <ul class="error_message">
                {% for error in form.first_name.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            </div>
            <div class="form_item">
                <div class="input_wrap clearfix">
                    {{ form.second_name.label(class_="label") }}
                    {{ form.second_name(size=32, class_="form_input") }}
                </div>
                <ul class="error_message">
                {% for error in form.second_name.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            </div>
            <div class="form_item">
                <div class="input_wrap clearfix">
                    {{ form.nick_name.label(class_="label") }}
                    {{ form.nick_name(size=32, class_="form_input") }}
                </div>
                <ul class="error_message">
                {% for error in form.nick_name.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            </div>
            <button class="btn send_btn">Registration</button>
        </div>
    </form>
{% endblock %}
