{% extends "layout.html" %}

{% block header %}
    <header class="blog_header clearfix">
        <h1>Blog</h1>

        {% if not session.logged_in %}
        <div class="reg_btn btn_wrap">
            <a class="btn" href="{{ url_for('registration') }}">Registration</a>
        </div>
        <div class="login_btn btn_wrap">
            <a class="btn" href="{{ url_for('login') }}">Log in</a>
        </div>
        {% else %}
        <div class="login_btn btn_wrap">
            <a class="btn" href="{{ url_for('logout') }}">Log out</a>
        </div>
        {% endif %}

    </header>
{% endblock %}

{% block body %}
    {% if session.logged_in %}
        <form action="{{ url_for('search') }}" method="POST" id="search">
            <div class="form_wrapper">
                <div class="form_item">
                    <div class="input_wrap clearfix">
                        {{ form.title.label(class_="label") }}
                        {{ form.title(size=32, class_="form_input") }}
                    </div>
                    <ul class="error_message">
                    {% for error in form.title.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                </div>
                <button class="btn search_btn">Search</button>
            </div>
        </form>
    {% endif %}
    <div id="articles_list">
        {% for article in articles %}
        <article class="article_item">
            <div class="header">
                <h3 class="title">{{ article.title }}</h3>
                <div class="info clearfix">
                    <div class="author">{{ article.author }}</div>
                    <time class="date">{{ article.date.strftime('%d-%m-%Y') }}</time>
                </div>
            </div>
            <div class="text">{{ article.text|safe }}</div>
        </article>
        {% else %}
        <div class="text">Unbelievable. No articles here so far</div>
        {% endfor %}
    </div>
{% endblock %}
