{% extends "layout.html" %}
{% block body %}
    {% if session.logged_in %}
        <form action="{{ url_for('add_article') }}" method="POST" id="add_articles">
            <div class="form_wrapper">
                <div class="form_item">
                    <div class="input_wrap clearfix">
                        {{ form.title.label(class_="label") }}
                        {{ form.title(size=32, class_="form_input") }}
                    </div>
                    <ul class="error_message">
                    {% for error in form.title.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="form_item">
                    <div class="input_wrap clearfix">
                        {{ form.author.label(class_="label") }}
                        {{ form.author(size=32, class_="form_input") }}
                    </div>
                    <ul class="error_message">
                    {% for error in form.author.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="form_item">
                    <div class="input_wrap clearfix">
                        {{ form.date.label(class_="label") }}
                        {{ form.date(size=32, class_="form_input") }}
                        <span class="note">In format DD-MM-YYYY</span>
                    </div>
                    <ul class="error_message">
                    {% for error in form.date.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="form_item">
                    <div class="input_wrap clearfix">
                        {{ form.text.label(class_="label") }}
                        {{ form.text(cols="40", rows="5") }}
                    </div>
                    <ul class="error_message">
                    {% for error in form.text.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                </div>
                <button class="btn send_btn">Share</button>
            </div>
        </form>
    {% endif %}
    <div id="articles_list">
        {% for article in articles %}
        <article class="article_item">
            <div class="header">
                <h3 class="title">{{ article.title }}</h3>
                <div class="info clearfix">
                    <div class="author">{{ article.author }}</div>
                    <time class="date">{{ article.date.strftime('%d-%m-%Y') }}</time>
                </div>
            </div>
            <div class="text">{{ article.text|safe }}</div>
        </article>
        {% else %}
        <div class="text">Unbelievable. No articles here so far</div>
        {% endfor %}
    </div>
{% endblock %}
