* {
    margin: 0;
    padding: 0;
}
html, 
body {
    width: 100%;
    min-width: 960px;
    height: auto;
    min-height: 100%;
    font: 14px 'Arial', serif;
    color: #000;
    position: relative;
    background: #eee;
}
img {
    border: 0;
}
input {
    outline: none;
    color: #000;
    font-size: 12px;
}
textarea {
    outline: none;
    resize: none;
}
ul, 
li {
    list-style: none;
}
a, 
a:visited {
    text-decoration: none;
    outline: none;
    color: #377ba8;
}
a:hover {
    text-decoration: underline;
    outline: none;
}
h1, 
h2, 
h3 {
    color: #377ba8;
}
.clearfix {
    zoom: 1;
}
.clearfix:after {
    clear: both;
    content: '';
    display: block;
}

#wrapper {
    box-sizing: border-box;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    position: relative;
    padding: 50px 0;
}
.page_wrap {
    margin: 0 auto;
    padding: 15px;
    width: 490px;
    border: 5px solid #ccc;
    background: #fff;
}
.flash {
    margin-bottom: 10px;
    padding: 10px;
    background: #cee5F5;
    border: 1px solid #aacbe2;
}
.error_message,
label.error {
    clear: both;
}
label.error {
    display: block;
}
.error_message li,
label.error {
    padding: 10px;
    background: #f0d6d6;
    color: #880000;
}
.btn {
    box-sizing: border-box;
    min-width: 75px;
    height: 30px;
    padding: 0 5px;
    border: 2px solid #377ba8;
    border-radius: 2px;
    background: #eee;
    font: 14px 'Arial', serif;
    color: #377ba8;
    text-align: center;
    transition: opacity 0.5s linear;
    opacity: 1;
}
.btn:hover {
    transition: opacity 0.5s linear;
    opacity: 0.7;
    cursor: pointer;
}
/*Form element*/
.form_wrapper .form_item {
    margin-bottom: 10px;
}
.form_wrapper .form_item .label {
    float: left;
    height: 30px;
    line-height: 30px;
}
.form_wrapper .form_item .label:after {
    display: inline-block;
    padding: 0 0 0 5px;
    content: '*';
    color: #880000;
}
.form_wrapper .form_item .form_input {
    float: left;
    box-sizing: border-box;
    height: 30px;
    padding: 0 10px;
    margin-bottom: 10px;
    font: 14px 'Arial', serif;
}

/*Header*/
.blog_header {
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
    border-bottom: 2px solid #eee;
}
.blog_header h1 {
    float: left;
}
.blog_header .btn_wrap {
    float: right;
    min-width: 65px;
    height: 30px;
    margin-left: 5px;
}
.blog_header .btn {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0 5px;
    line-height: 26px;
}
.blog_header .btn:hover {
    text-decoration: none;
}

/*Login form*/
#login_form .form_item .label {
    width: 80px;
}
#login_form .form_item .form_input {
    width: 200px;
}
#login_form .form_item .error_message {
    margin: 0 0 10px 80px;
}
#login_form .send_btn {
    margin-left: 80px;
}

/*Registration form*/
#reg_form .form_item .label {
    width: 110px;
}
#reg_form .form_item .error_message,
#reg_form label.error {
    margin: 0 0 10px 110px;
}
#reg_form .send_btn {
    margin-left: 110px;
}

/*Add articles form*/
#add_articles .form_item .label {
    width: 60px;
}
#add_articles .form_item .form_input {
    width: 205px;
}
#add_articles .form_item .error_message {
    margin: 0 0 10px 60px;
}
#add_articles .form_item .note {
    display: block;
    clear: both;
    padding: 0 0 10px 70px;
    font-size: 12px;
    font-style: italic;
    color: #aaa;
}
#add_articles .form_item textarea {
    float: left;
    width: 408px;
    padding: 10px;
    margin-bottom: 10px;
    font: 14px 'Arial', serif;
}
#add_articles .send_btn {
    margin-left: 60px;
}

/*Search form*/
#search .form_item .label {
    width: 60px;
}
#search .search_btn {
    margin-left: 60px;
}
#search .form_item .error_message {
    margin-left: 60px;
}

/*articles_list*/
#articles_list {
    margin: 10px 0;
}
#articles_list .article_item {
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
    border-bottom: 2px solid #eee;
}
#articles_list .article_item:last-child {
    border: none;
}
#articles_list .header .title {
    font-size: 1.5em;
}
#articles_list .header .info {
    padding: 0 0 10px;
}
#articles_list .header .info .author,
#articles_list .header .info .date {
    float: left;
    margin-right: 5px;
    font-style: italic;
}
